<div class="page-header">
  <h1>Dashboard <small>My finances</small></h1>
</div>

<div class="row">
  <div id="panel-a" class="col-md-6"></div>
  <div id="panel-b" class="col-md-6"></div>
</div>

<div class="row">
  <div id="panel-c" class="col-md-6"></div>
  <div id="panel-d" class="col-md-6"></div>
</div>
