<form class="navbar-form">
  <div class="input-group custom-search-form">
    <input type="text" name="query" class="form-control" placeholder="Search..." />
    <span class="input-group-btn">
      <button class="btn btn-default search" type="button" title="Search">
        <span class="fa fa-search"></span>
      </button>
    </span>
  </div>
</form>
