<div class="page-header">
  <h1>Search</h1>
  <div class="panel panel-default">
    <div id="search-filters" class="panel-body"></div>
  </div>
  <div id="search-summary"></div>
</div>

<div class="panel panel-default">
  <div class="panel-body has-table" id="search-results"></div>
</div>
