<div class="row">
  <div class="col-xs-6"><%- name %></div>
  <div class="col-xs-6 text-right">
    <a class="edit-category btn btn-xs btn-default" href="<%= DotLedger.path.editCategory({id: id}) %>" title="Edit">Edit</a>
    <a class="delete-category btn btn-xs btn-danger" href="#" title="Delete">Delete</a>
  </div>
</div>
