<div class="page-header">
  <div class="pull-right">
    <a href="/categories/new" class="btn btn-default">
      <span class="fa fa-plus"></span>
    </a>
  </div>

  <h1>Categories</h1>
</div>

<% _.each(categoryTypes(), function(type) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%- type.label %></h3>
    </div>
    <div class="list-group" id="<%= type.id %>"></div>
  </div>
<% }) %>
