<div class="row">
  <div class="col-xs-12 col-sm-5"><strong><%- category_name %></strong></div>
  <div class="col-xs-3 col-sm-1">
    <div class="input-group input-group-sm">
      <select class="form-control" name="type"></select>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">$</span> 
      <input class="form-control" type="number" name="amount" />
    </div>
  </div>
  <div class="col-xs-3 col-sm-1">
    <div class="input-group input-group-sm">
      <select class="form-control" name="period"></select>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2"><%= monthAmount() %></div>
</div>
