<div class="page-header">
  <div class="pull-right">
    <a href="<%= DotLedger.path.newAccountGroup() %>" class="btn btn-default">
      <span class="fa fa-plus"></span>
    </a>
  </div>

  <h1>Account Groups</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body has-table">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>