<td><%- name %></td>
<td class="text-right">
  <a class="edit-account-group btn btn-xs btn-default" href="<%= DotLedger.path.editAccountGroup({id: id}) %>" title="Edit">Edit</a>
  <a class="delete-account-group btn btn-xs btn-danger" href="#" title="Delete">Delete</a>
</td>
