<div class="panel-heading">
  <div class="pull-right">
    <a href="/goals" class="btn btn-xs btn-default">
      <span class="fa fa-pencil-square-o"></span>
    </a>
  </div>
  <h3 class="panel-title">Goals</h3>
</div>

<div class="list-group"></div>  
