<div class="row">
  <div class="col-sm-6"><strong><%= category_name %></strong></div>
  <div class="col-sm-3"><input type="number" name="amount" /></div>
  <div class="col-sm-3"><select name="period"></select></div>
</div>
