<% _.each(paymentDates(), function(date) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= DotLedger.Helpers.Format.titleDate(date) %></h3>
    </div>
    <div class="panel-body has-table">
      <table class="table payments" id="payment-date-<%= DotLedger.Helpers.Format.unixTimestamp(date) %>">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th class="amount">Spend</th>
            <th class="amount">Receive</th>
            <th class="edit"></th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>
<% }) %>
