<div class="page-header">
  <div class="pull-right">
    <a href="/payments/new" class="btn btn-default">
      <span class="fa fa-plus"></span>
    </a>
  </div>

  <h1>Payments</h1>
</div>

<% _.each(paymentDates(), function(date) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= moment(date).format('LL') %></h3>
    </div>
    <div class="panel-body has-table">
      <table class="table payments" id="payment-date-<%= moment(date).format('X') %>">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th class="amount">Spend</th>
            <th class="amount">Receive</th>
            <th class="edit"></th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>
<% }) %>
