<div class="page-header">
  <div class="pull-right">
    <a href="<%= DotLedger.path.newPayment() %>" class="btn btn-default">
      <span class="fa fa-plus"></span> New Payment
    </a>
  </div>

  <h1>Payments</h1>
</div>

<div id="graph"></div>

<div id="payments"></div>
