<div class="page-header">
  <h1><%- pageHeader() %></h1>
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="payment_name" class="col-lg-2 control-label">Name</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" id="payment_name" name="name" placeholder="e.g. Rent" />
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <label for="payment_type" class="col-lg-2 control-label">Type</label>
    <div class="col-lg-5">
      <select class="form-control" id="payment_type" name="type"></select>
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <label for="payment_amount" class="col-lg-2 control-label">Amount</label>
    <div class="col-lg-5 input-group">
      <span class="input-group-addon">$</span> 
      <input type="number" class="form-control" id="payment_amount" name="amount" placeholder="e.g. 123.00" />
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <label for="payment_category" class="col-lg-2 control-label">Category</label>
    <div class="col-lg-5">
      <select class="form-control" id="payment_category" name="category"></select>
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <label for="payment_date" class="col-lg-2 control-label">Date</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" id="payment_date" name="date" placeholder="e.g. 2011-03-06" />
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <div class="col-lg-5 col-lg-offset-2">
      <div class="checkbox">
        <label for="payment_repeat" class="control-label">
          <input type="checkbox" id="payment_repeat" name="repeat" />
          Repeat
        </label>
      </div>
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <label for="payment_repeat_interval" class="col-lg-2 control-label">Repeat Interval</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" id="payment_repeat_interval" name="repeat_interval" placeholder="e.g. 3" />
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <label for="payment_repeat_period" class="col-lg-2 control-label">Repeat Period</label>
    <div class="col-lg-5">
      <select class="form-control" id="payment_repeat_period" name="repeat_period"></select>
    </div>
    <div class="errors col-lg-5"></div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="save btn btn-default">Save</button>
      <a class="btn btn-link" href="/payments">Cancel</a>
    </div>
  </div>
</form>
