<div class="page-header">
  <div class="pull-right">
    <a href="<%= DotLedger.path.newStatement({id: accountID}) %>" class="btn btn-default">
      <span class="fa fa-plus"></span> Import Statement
    </a>
  </div>

  <h1>Statements for <%= accountName() %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body has-table">
    <table class="table">
      <thead>
        <tr>
          <th>Imported at</th>
          <th>From</th>
          <th>To</th>
          <th>Transaction count</th>
          <th>Closing balance</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="panel-footer pager-region"></div>
</div>
