@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import "font-awesome";
@import "variables";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "pace";
@import "theme";

#notifications {
  padding-top: $navbar-height + 20px;
}

.form-horizontal input[type=file] {
  margin-top: 6px;
}

.navbar-brand .glyphicon {
  vertical-align: top;
}

@media (min-width: $grid-float-breakpoint) {
  table {
    tr {
      .edit-payment,
      .edit-sorting-rule {
        visibility: hidden;
      }

      &:hover {
        .edit-payment,
        .edit-sorting-rule {
          visibility: visible;
        }
      }
    }
  }

  .list-group-item  {
    .edit-category {
      visibility: hidden;

    }

    &:hover {
      .edit-category {
        visibility: visible;
      }
    }
  }
}

.modal-dialog .modal-body .form-horizontal {
  margin: 0 20px;
}

table.payments {
  table-layout: fixed;

  th.amount {
    width: 10%;
  }

  th.edit {
    width: 60px;
  }
}

footer {
  border-top: 1px solid $page-header-border-color;
  font-size: 0.8em;
  padding: 20px 0;
  text-align: center;

  a {
    color: $text-muted;
    .glyphicon {
      vertical-align: text-top;
    }

    &:hover {
      color: darken($text-muted, 10%);
    }
  }
}

div.balance {
  div.graph {
    width: 100%;
    height: 150px;
  }

  div.tooltip {
    div.tooltip-inner {
      width: 80px;
    }
  }
}
