@import "variables";
@import "bootstrap";

body.loading {
  opacity: 0.5;
}

#main {
  margin-top: $navbar-height + 10px;
}

.form-horizontal input[type=file] {
  margin-top: 6px;
}

table tr .edit-category,
table tr .edit-sorting-rule {
  visibility: hidden;
}

table tr:hover .edit-category,
table tr:hover .edit-sorting-rule {
  visibility: visible;
}
