@import "variables";
@import "bootstrap";

body.loading {
  opacity: 0.5;
}

#main {
  margin-top: $navbar-height + 10px;
}

.form-horizontal input[type=file] {
  margin-top: 6px;
}

table {
  tr {
    .edit-payment,
    .edit-sorting-rule {
      visibility: hidden;
    }

    &:hover {
      .edit-payment,
      .edit-sorting-rule {
        visibility: visible;
      }
    }
  }
}

.modal-dialog .modal-body .form-horizontal {
  margin: 0 20px;
}

table.payments {
  table-layout: fixed;

  th.amount {
    width: 10%;
  }

  th.edit {
    width: 60px;
  }
}
