.pace .pace-progress {
  background: $progress-bar-bg;
  position: fixed;
  z-index: 100;
  top: $navbar-height - $progress-bar-height - 1px; // 1px for the navbar border
  left: 0;
  height: $progress-bar-height;
}

.pace .pace-progress {
  @include transition-transform(0.5s);
  @include translate(0%, 0%);
}

.pace.pace-active .pace-progress {
  @include translate(0%, 100%);
}

.pace.pace-active .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: $navbar-height / 2 - ($progress-activity-size / 2);
  right: $navbar-height / 2 - ($progress-activity-size / 2);
  width: $progress-activity-size - 2px;
  height: $progress-activity-size - 2px;
  border: solid 2px transparent;
  border-top-color: $brand-primary;
  border-left-color: $brand-primary;
  border-radius: $progress-activity-size;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
