// Bootstrap variables

$navbar-default-bg: #64bfd5;
$navbar-default-color: #fff;

$navbar-default-link-color: #0090a6;
$navbar-default-link-active-color: #fff;

$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: #fff;
