// Bootstrap variables

$navbar-height: 50px;

$navbar-default-bg: #6FCAC2;
$navbar-default-color: #fff;

$navbar-default-link-color: darken($navbar-default-bg, 30%);
$navbar-default-link-active-color: #fff;

$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: #fff;

$navbar-default-toggle-border-color: darken($navbar-default-bg, 15%);
$navbar-default-toggle-icon-bar-bg: $navbar-default-toggle-border-color;
$navbar-default-toggle-hover-bg: lighten($navbar-default-bg, 10%);

$progress-bar-height: 6px;
$progress-bar-bg: #ddd;
$progress-activity-size: $navbar-height / 2;

$brand-primary: $navbar-default-link-color;

$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
