<div class="page-header">
  <div class="pull-right">
    <a href="<%= DotLedger.path.newSavedSearch() %>" class="btn btn-default" title="New Saved Search">
      New Saved Search
    </a>
  </div>

  <h1>Saved Searches</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body has-table">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
