<li class="period period-7-days"><a data-period="7" href="#">7 Days</a></li>
<li class="period period-14-days"><a data-period="14" href="#">14 Days</a></li>
<li class="period period-30-days"><a data-period="30" href="#">30 Days</a></li>
<li class="period period-90-days"><a data-period="90" href="#">90 Days</a></li>
<li class="period period-180-days"><a data-period="180" href="#">180 Days</a></li>
<li class="period period-mtd-days"><a data-period="mtd" href="#">Month-to-date</a></li>
<li class="period period-ytd-days"><a data-period="ytd" href="#">Year-to-date</a></li>