<div class="page-header">
  <h1>Income and Expenses</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading" id="filter"></div>

  <div class="panel-body has-table">
    <div class="tab-content">
      <div class="tab-pane active" id="report"></div>
    </div>
  </div>
</div>
