<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th class="amount">Spent</th>
      <th class="amount">Received</th>
    </tr>
  </thead>

  <tbody></tbody>

  <tfoot>
    <tr>
      <th>Total</th>
      <th class="amount"><%= spentAmountTotal() %></th>
      <th class="amount"><%= receivedAmountTotal() %></th>
    </tr>
  </tfoot>
</table>
