<div id="rahani">
  <header></header>
  <div id="main" class="container"></div>
  <div id="modal"></div>
  <footer></footer>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    Rahani.start(RahaniData);
  });
</script>
