<div id="dot_ledger">
  <header></header>
  <div id="notifications" class="container-fluid"></div>
  <div id="main" class="container-fluid"></div>
  <div id="modal"></div>
  <footer></footer>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    DotLedger.container = $('#dot_ledger');
    DotLedger.start(DotLedgerData);
  });
</script>
