<div class="panel panel-default">
  <div class="balance panel-body">
    <div class="graph"></div>
    <div class="tooltip top fade">
      <div class="tooltip-inner"></div>
      <div class="tooltip-arrow"></div>
    </div>
  </div>

  <div class="panel-footer" id="filter">
    <ul class="nav nav-small nav-pills">
      <li><a data-period="7" href="#">7 Days</a></li>
      <li><a data-period="14" href="#">14 Days</a></li>
      <li><a data-period="30" href="#">30 Days</a></li>
      <li><a data-period="90" href="#">90 Days</a></li>
      <li><a data-period="180" href="#">180 Days</a></li>
      <li><a data-period="mtd" href="#">Month-to-date</a></li>
      <li><a data-period="ytd" href="#">Year-to-date</a></li>
    </ul>
  </div>
</div>
