<div class="panel panel-default">
  <div class="balance panel-body">
    <div class="graph"></div>
    <div class="tooltip top fade">
      <div class="tooltip-inner"></div>
      <div class="tooltip-arrow"></div>
    </div>
  </div>
</div>
