<div class="page-header">
  <h1><%- pageHeader() %></h1>
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="account_name" class="col-md-2 control-label">Name</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="account_name" name="name" placeholder="e.g. Eftpos" />
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <label for="account_number" class="col-md-2 control-label">Number</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="account_number" name="number" placeholder="e.g. 12-1234-1234567-123" />
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <label for="account_type" class="col-md-2 control-label">Type</label>
    <div class="col-md-5">
      <select class="form-control" id="account_type" name="type"></select>
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <label for="account_account_group" class="col-md-2 control-label">Account Group</label>
    <div class="col-md-5">
      <select class="form-control" id="account_account_group" name="account_group"></select>
    </div>
    <div class="errors"></div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="save btn btn-default" title="Save">Save</button>
      <a class="btn btn-link" href="<%= cancelPath() %>" title="Cancel">Cancel</a>
    </div>
  </div>
</form>
