<div class="panel-heading">
  <div class="pull-right">
    <a href="<%= DotLedger.path.newAccount() %>" class="btn btn-xs btn-default">
      <span class="fa fa-plus"></span>
    </a>
  </div>
  <h3 class="panel-title">Accounts</h3>
</div>

<div class="panel-body">
  <div class="row text-muted">
    <div class="col-xs-4 text-left">
      <small>Total cash: <strong><%= DotLedger.Helpers.Format.money(totalCash()) %></strong></small>
    </div>
    <div class="col-xs-4 text-center">
      <small>Total debt: <strong><%= DotLedger.Helpers.Format.money(totalDebt()) %></strong></small>
    </div>
    <div class="col-xs-4 text-right">
      <small>Difference: <strong><%= DotLedger.Helpers.Format.money(totalCash() - totalDebt()) %></strong></small>
    </div>
  </div>

</div>

<div class="list-group"></div>  
