<div class="page-header">
  <div class="pull-right">
    <a href="<%= DotLedger.path.newAccount() %>" class="btn btn-xs btn-default" title="New Account">
      New Account
    </a>
  </div>

  <h1>Accounts</h1>
</div>

<div id="active-accounts"></div>

<div id="archived-accounts"></div>