<div class="page-header">
  <h1><%- pageHeader() %></h1>
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="sorting_rule_contains" class="col-md-2 control-label">Contains</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="sorting_rule_contains" name="contains" placeholder="e.g. BOBSINSURANCE" />
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <label for="sorting_rule_name" class="col-md-2 control-label">Name</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="sorting_rule_name" name="name" placeholder="e.g. Bob's Insurance" />
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <label for="sorting_rule_category" class="col-md-2 control-label">Category</label>
    <div class="col-md-5">
      <select class="form-control" id="sorting_rule_category" name="category"></select>
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <label for="sorting_rule_review" class="col-md-2 control-label">Flag matches for review</label>
    <div class="col-md-5">
      <select class="form-control" id="sorting_rule_review" name="review">
        <option value="false">No</option> 
        <option value="true">Yes</option> 
      </select>
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <label for="sorting_rule_tags" class="col-md-2 control-label">Tags</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="sorting_rule_tags" name="tags" placeholder="e.g. Car Expences, Car Insurance" />
    </div>
    <div class="errors col-md-5"></div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="save btn btn-default" title="Save">Save</button>
      <a class="btn btn-link" href="<%= DotLedger.path.listSortingRules() %>" title="Cancel">Cancel</a>
    </div>
  </div>
</form>
