<div class="page-header">
  <div class="pull-right">
    <a href="/sorting-rules/new" class="btn btn-default">
      <span class="fa fa-plus"></span>
    </a>
  </div>

  <h1>Sorting Rules</h1>

  <div class="panel panel-default">
    <div id="search-filters" class="panel-body">
      <form role="form">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label for="sorting_rules_search_query" class="control-label">Search for</label>
              <input type="text" class="form-control input-sm" id="sorting_rules_search_query" name="query" placeholder="e.g. Cafe" />
            </div>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label for="sorting_rules_search_category" class="control-label">Category</label>
              <select class="form-control input-sm" id="sorting_rules_search_category" name="category"></select>
            </div>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label for="sorting_rules_search_tags" class="control-label">Tags</label>
              <select class="form-control input-sm" id="sorting_rules_search_tags" name="tags"></select>
            </div>
          </div>

          <div class="col-xs-6 col-sm-3">
            <button type="submit" class="search btn btn-default btn-sm btn-block" style="margin-top: 24px;">Search</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body has-table">
    <table class="table">
      <thead>
        <tr>
          <th>Contains</th>
          <th>Name</th>
          <th>Category</th>
          <th>Tags</th>
          <th>Flag</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="panel-footer pager-region"></div>
</div>
